<div class="container">
  <div class="row">
    <h1 class= "text-center">
      Juego de Picas y Fijas
    </h1>
  </div>
  <div class="row">
    <div class="col-md-6-offset-3">
      <form method="post" target="/">
        <div class="form-group">
          <label for="exampleInputEmail1">Guess the number</label>
          <input type="text" class="form-control" id="user_number" name="user_number" placeholder="Guess the number here">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="container" >
  <div class="row">
    <h1>picas <%= @picas%> fijas <%= @fijas%></h1>
  </div>
</div>
  </div>
</div>
